{% extends "admin/base.html" %}
{% load static %}
{% load preftags %}

{% block blockbots %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">


    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
{#    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>#}
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/actions.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/urlify.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/prepopulate.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/xregexp/xregexp.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/calendar.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/DateTimeShortcuts.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/inlines.js" %}"></script>

    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>

    <link rel="stylesheet" href="{% static "prefs/css/prefs.css" %}">
{% endblock %}

{% block content %}
    <div id="content-main">
        <form action="" method="post" id="prefs_form" novalidate="">
            {% csrf_token %}
            <div class="row edit-row">
                <div class="col-md-10">
                    <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
                        {% for tab in tabs %}
                        <li class="nav-item">
                            <a href="#tab{{ tab.index }}" id="suit_form_tab_tab{{ tab.index }}" class="nav-link {% if forloop.counter == 1 %}active{% endif %}">{{  tab.title }}</a>
                        </li>
                        {% endfor %}

{#                        <li class="nav-item">#}
{#                            <a href="#general" id="suit_form_tab_general" class="nav-link active">General</a>#}
{#                        </li>#}
{#                        <li class="nav-item">#}
{#                            <a href="#events" id="suit_form_tab_events" class="nav-link">Tab</a>#}
{#                        </li>#}
                    </ul>
                    <div>
                        {% for tab in tabs %}
                    <fieldset class="suit-form module aligned suit-tab suit-tab-tab{{ tab.index }} show">

                            {% for section in tab.content %}
{#                                <hr>#}
                                {% if section.title and section.fields|length > 0 %}
                                <h1 class="section-title">{{ section.title }}</h1>
                                {% endif %}

                                {% for field in section.fields %}
                                    {{ field.render }}
{#                                    {% pref_field field %}#}
                                {% endfor %}

                            {% endfor %}
                                    </fieldset>
                        {% endfor %}



                    </div>
                </div>
                <!-- Start right column -->
                <div class="col-md-2">
                    <div class="submit-row">
                        <input value="Save" class="default btn btn-primary btn-block" type="submit">
                    </div>
                    <!-- Close right column and row -->
                </div>

                <script type="text/javascript" id="django-admin-form-add-constants"
                        src="{% static "admin/js/change_form.js" %}">
                </script>
                <script type="text/javascript" id="django-admin-prepopulated-fields-constants"
                        src="{% static "admin/js/prepopulate_init.js" %}" data-prepopulated-fields="[]">
                </script>
            </div>
        </form>
    </div>
    {#    </div>#}
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script type="text/javascript">
        Suit.$("#outsourcetask_form").suitFormDebounce();
        Suit.FixedBar.init();
        Suit.$(function () {
            Suit.$('#suit_form_tabs').suitFormTabs();
        });
    </script>
    <script>
    {#var $ = Suit.$;#}
    Suit.$('#prefs_form').submit(function (e) {
        e.preventDefault();
        var parms = Suit.$(this).serializeArray();

        Suit.$("textarea").each(function(item, i, arr) {
            var obj = {
                name:Suit.$(i).attr('name'),
                value:Suit.$(i).val()
            };
            parms.push(obj);
        });
        Suit.$("input:checkbox:not(:checked)").each(function(item, i, arr) {
            var obj = {
                name:Suit.$(i).attr('name'),
                value: 'off'
            };
            parms.push(obj);

        });
        Suit.$.post(
            '',
            parms,
            function (data) {
                if(data.result === 1){
                    alert('Success')
                }else{
                    console.log(['data']);
                    alert('Error\n'+data['error'])
                }
            }
    );

        });

    function update_fields_state() {
        Suit.$('.pref-field').each(function (index) {
            let disabled = Suit.$( this ).attr('data-disabled');
            console.log(disabled);
            if (disabled){
                console.log('Disable');
                Suit.$( this ).children('input').each(function () {
                    Suit.$(this).prop( "disabled", true );
                });
             }else{
                Suit.$( this ).children('input').each(function () {
                    Suit.$(this).prop( "disabled", false );
                });
             }
            let visible = Suit.$( this ).attr('data-hidden');
            console.log(visible);
            if (visible){
                console.log('Hide');
                Suit.$( this ).hide();
             } else {
                Suit.$( this ).show();
            }


         })
    }
    update_fields_state()
    </script>
{% endblock %}

{% comment %}
{# STRING #}
                            <div class="form-group row form-row  field-name">
                                <label for="id_name" class="form-control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    Text:
                                </label>
                                <div class=" col-xs-12 col-sm-9 col-md-10 col-lg-10 widget-AdminTextInputWidget ">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <input name="name" value="text" class="vTextField" id="id_name" type="text">
                                        </div>
                                        <div class="col-md-3 prefs-field">
                                            <span class="text-muted">PREF_NAME</span>
                                        </div>
                                    </div>
                                    <small class="text-muted ">help text</small>
                                </div>
                            </div>

                            {# INT #}
                            <div class="form-group row form-row  field-name">
                                <label for="id_name" class="form-control-label col-xs-12 col-sm-3 col-md-2">
                                    Integer:
                                </label>
                                <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7 widget-AdminTextInputWidget ">
                                    <div class="row prefs-field">
                                        <div class="col-8">
                                            <input name="name" value="0" class="vTextField" id="id_name" type="number">
                                        </div>
                                        <div class="col-4 prefs-field">
                                            <span class="text-muted">PREF_NAME</span>
                                        </div>
                                    </div>
                                    <small class="text-muted ">help</small>
                                </div>
                            </div>

                            {# TEXT #}
                            <div class="form-group row form-row  field-name">
                                <label for="id_name" class="form-control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    Text:
                                </label>
                                <div class=" col-xs-12 col-sm-9 col-md-10 col-lg-10 widget-AdminTextInputWidget ">
                                    <div class="row prefs-field">
                                            <textarea name="" id=""  rows="10" style="width: 98%;"></textarea>
                                            <span class="text-muted">PREF_NAME</span>
                                    </div>
                                    <small class="text-muted ">help</small>
                                </div>
                            </div>

                            {# SUMMERNOTE #}
                            <div class="form-group row form-row  field-name">
                                <label for="id_name" class="form-control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    Summernote Text:
                                </label>
                                <div class=" col-xs-12 col-sm-9 col-md-10 col-lg-10 widget-AdminTextInputWidget ">
                                    <div class="row prefs-field">
                                        {{ smn|safe }}
                                    </div>
                                        <span class="text-muted">PREF_NAME</span>
                                    <br>
                                    <small class="text-muted ">help</small>
                                </div>
                            </div>

                            {# CODE #}

                            {# FILE #}
                            <div class="form-group row form-row  field-name">
                                <label for="id_name" class="form-control-label col-xs-12 col-sm-3 col-md-2 col-lg-2">
                                    File:
                                </label>
                                <div class=" col-xs-12 col-sm-9 col-md-10 col-lg-10 widget-AdminTextInputWidget ">
                                    <div class="row prefs-field">
                                        <input type="file">
                                        <span class="text-muted">PREF_NAME</span>
                                    </div>
                                    <small class="text-muted ">help</small>
                                </div>
                            </div>

                            {# BOOL #}
                            <div class="form-group row form-row  field-is_active">
                                <label for="id_is_active" class="form-control-label col-xs-12 col-sm-3 col-md-2"><label
                                        class="vCheckboxLabel" for="id_is_active">Bool:</label></label>
                                <div class=" col-xs-12 col-sm-9 col-md-8 col-lg-7 widget-CheckboxInput ">
                                    <input name="is_active" id="id_is_active" checked="" type="checkbox">
                                    <span class="text-muted prefs-field">PREF_NAME</span>
                                    <br>
                                    <small class="text-muted">Help
                                    </small>
                                </div>
                            </div>

                            {# SELECT #}
                            <div class="form-group row form-row  field-user">
                                <label for="id_user" class="form-control-label col-xs-12 col-sm-3 col-md-2">
                                    <label class="required" for="id_user">Select:</label></label>
                                <div class=" col-xs-12 col-sm-9 col-md-10 col-lg-9 widget-RelatedFieldWidgetWrapper ">
                                    <div class="related-widget-wrapper">
                                        <select name="user" required="" id="id_user">
                                            <option value="">---------</option>
                                            <option value="1">option 1</option>
                                            <option value="2">option 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
{% endcomment %}
