
.prefs-field{
    padding-left: 15px !important;
}
.section-title {
    font-size: 1.6rem;
    padding-top: 20px;
}
.cb-field {
    padding-top: 15px !important;
}
.pref-str-field {
    width: 80%;
}