<div class="form-group row form-row pref-field field-name" id="field-{{ pref_field.id }}"
     {% if pref_field.disabled %}data-disabled="1"{% endif %}
     {% if pref_field.hidden %}data-hidden="1"{% endif %}
>
    <label for="{{ pref_field.id }}" class="form-control-label col-xs-12 col-sm-3 col-md-2">
        {{ pref_field.label }}:
    </label>
    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-7 {% block field_class %}{% endblock %}">

        {% block field %}
            <div class="row prefs-field">
                <div class="col-8 {% block field_col_class %}{% endblock %}">
                    {{ widget }}
                </div>
                <div class="col-4 prefs-field">
                    <span class="text-muted">{{ pref_field.name }}</span>
                </div>
            </div>
        {% endblock %}
        {% if pref_field.help %}
            <p class="text-muted ">{{ pref_field.help }}</p>
        {% endif %}

    </div>
</div>
