{% extends 'prefs/widgets/base.html' %}

{% block field %}
        <div class="row prefs-field">
            {{ widget }}
        </div>
            <span class="text-muted">{{ pref_field.name }}</span>
        <br>
{% endblock %}
